
# CodeLite
/.build-debug/
/build-Debug/
/build/
/Debug/
/Release/
RNG_test/
.codelite/
compile_commands.json
Makefile
.build-release/
build-Release/
*.project
*.workspace
*.mk

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Documentation
*.wbk
Backup*/
Bacup*/

# Visual Studio
.vs/
*.sln
*.vcxproj*
out/
x64/
*.json

# Ignore test project outputs, except anchors
run_on_gha/rs_test_project/Outputs/*
!run_on_gha/rs_test_project/Outputs/git_anchor.txt
run_on_gha/rs_test_project/OutputMaps/*
!run_on_gha/rs_test_project/OutputMaps/git_anchor.txt
